    letter-spacing: 1px;
270
​
271
    @include mobile {
272
      margin: 0 10px;
273
      color: $blue;
274
    }
275
  }
276
}
277
​
278
//
279
// .main
280
//
281
​
282
.posts > .post {
283
  padding-bottom: 2em;
284
  border-bottom: 1px solid $lightGray;
285
}
286
​
287
.posts > .post:last-child {
288
  padding-bottom: 1em;
289
  border-bottom: none;
290
}
291
​
292
.post {
293
  blockquote {
294
    margin: 1.8em .8em;
295
    border-left: 2px solid $gray;
296
    padding: 0.1em 1em;
297
    color: $gray;
298
    font-size: 22px;
299
    font-style: italic;
300
  }
301
​
302
  .comments {
303
    margin-top: 10px;
304
  }
305
​
306
  .read-more {
307
    text-transform: uppercase;
308
    font-size: 15px;
309
  }
310
}
311
​
312
.wrapper-footer {
313
  margin-top: 50px;
314
  border-top: 1px solid #ddd;
315
  border-bottom: 1px solid #ddd;
316
  background-color: #3385ff;
317
}
318
​
319
footer {
320
  padding: 20px 0;
321
  text-align: center;
322
}
323
​
324
// Settled on moving the import of syntax highlighting to the bottom of the CSS
325
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
326
@import "highlights";
327
@import "svg-icons";
328
